{% extends "base.html" %}

{% block title %}Nosotros - Ruleta de la Vida{% endblock %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruleta de la Vida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
    {% block content %}
    <div class="container">

        <h2>Sobre Nosotros</h2>
        <p>ayudamos a las personas a mejorar su bienestar con herramientas digitales interactivas para el autoconocimiento y el desarrollo personal.</p>

        <h2>Misión</h2>
        <p>Facilitamos una plataforma innovadora que permite a los usuarios evaluar su vida de forma visual y sencilla, ayudándolos a identificar fortalezas y áreas de mejora.</p>

        <h2>Visión</h2>
        <p>Queremos ser una referencia en autoevaluación y bienestar, brindando una experiencia intuitiva que ayude a las personas a establecer metas y mejorar su calidad de vida.</p>
    </div>
</body>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</html>